.bg {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white; /* Default text color */
  }

  [class*="bg "] {
    /* Define a variable with a fallback color */
    background-color: var(--bg-color, gray);
  }

  [class*=" red"] {
    --bg-color: red;
  }
  
  [class*=" yellow"] {
    --bg-color: yellow;
  }
  
  [class*=" blue"] {
    --bg-color: blue;
  }
  